SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_JWT_SECRET=
TEAM_TOKEN_SECRET=
REDIS_URL=
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
FRONTEND_URL=http://localhost:3000
PORT=8080
NODE_ENV=development
